.deck-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.DeckCheck-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  height: 100%;
  width: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}

/* 지역 선택 영역 */
.deck-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}

.faction-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.faction-text {
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #fff;
}

/* 카드 섹션 */
.deck-section {
  max-width: 400px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.deck-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: clamp(0.625rem, 1vw, 0.9375rem); /* 10px - 15px */
  width: 100%;
  max-width: 400px;
}

.deck-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 카드 자세히 보기 */
.selected-card {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}