.energy-wrapper {
  display: flex;
  justify-content: center;
}

.energy{
  display: grid; 
  place-items: center;
  width: 80px;
  height: 80px;
  font-weight: 900;
  background: url("../../assets/energy.png") center/contain no-repeat;
  position: relative;
}

.energy-value{
  font-size: 20px;
  font-weight: 600;
  color: #2c1105;
}