/* 각 Location 박스 */
.location-container {
  position: relative;
  cursor: pointer;
  width: 130px;
  height: 200px;
  top: calc(-40px); /*부모의 크기가 120px인데 자식이 200px이라서 위로 40px 튀어나오게 임시 설정 */
  flex: 0 0 130px; /* flexbox 높이 고정 */
}

/* 배경 이미지 */
.location-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 180px;
  object-fit: cover;
  transform: translate(-50%, -50%);
  clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
  );
  z-index: 1;
}

/* 이름을 상단으로 */
.location-name {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 130px;
  height: 30px;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: #fff;
  text-align: center;
  z-index: 5;
  pointer-events: none;
}
.location-desc{
  position: absolute;
  top: 60%;
  left: 50%;
  width: 130px;
  height: 50px;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #fff;
  z-index: 5;
  text-align: center;
  pointer-events: none;
}

/* 위쪽 파워 (상대방) */
.opponentPower-container {
  position: absolute;
  top: 0px; /* 컨테이너 맨 위 */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

/* 아래쪽 파워 (내 것) */
.myPower-container {
  position: absolute;
  bottom: 0px; /* 컨테이너 맨 아래 */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
}

/* 아이콘 */
.location-icon {
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 3;
}

/* 아이콘 안 숫자 */
.location-icon-text {
  position: absolute;
  font-size: 20px;
  color: #ffffff;
  user-select: none;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}