.Overlay{
    width: 302px;
    height: 191px;

     /* 화면 중앙에 모달창 고정 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url("../../assets/modal.png") center / cover no-repeat;
}
/* RD모달창, DeckCheck모달창 내부 중앙에 텍스트 고정 */
.modal-main{
    font-size: 24px;
    position: absolute;
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%);
    text-align: center; /*텍스트 중앙 정렬 */
}
/* 덱 선택 안내 모달 메시지 */
.modal-text-deckCheck{
    font-size: 28px;
    color:#000000;
    white-space: nowrap;
}

/* 입장 대기 중... */
.extra-text {
    position: absolute;
    top: calc(50% + 191px/2 + 20.5px); /* modal-main 높이 기준으로 아래 */
    width: 100%;
    display: flex;
    justify-content: center;
}
.explain-text{
    font-size: 35px;
    color: #F4B033;
}

/* 친선전 FriendlyMatchModal */
.modal-text-friendly {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-shadow: -1px 0 #5B1B17, 0 1px #5B1B17, 1px 0 #5B1B17, 0 -1px #5B1B17;
    color: #FFFFFF;
}
/*  전투 준비 중...(RDModal), 
    VS(GameLoading), 
    도전자를 기다리는 중... (CreateMatchModal) */
.modal-text {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    text-shadow: -1px 0 #5B1B17, 0 1px #5B1B17, 1px 0 #5B1B17, 0 -1px #5B1B17;
    color: #FFFFFF;
}

/*매치 ID joinMatchModal*/
.match-id-title
{
    text-shadow: -1px 0 #5B1B17, 0 1px #5B1B17, 1px 0 #5B1B17, 0 -1px #5B1B17; 
    position: absolute;
    font-size: 28px;
    line-height: 28px;
    margin-top: 36px;
    margin-left: 44px;
}
/*기타 흰 글씨*/
.modal-title
{
    text-shadow: -1px 0 #5B1B17, 0 1px #5B1B17, 1px 0 #5B1B17, 0 -1px #5B1B17; 
    font-size: 28px;
    line-height: 28px;
    margin-top: 60px;
    margin-left: 0px;
}

.matchcode {
    width: 247px;
    white-space: nowrap;   /* 줄바꿈 방지 */
    color: #000000;     
    margin-bottom: 9px; 
}

.modal-input, .cancel, .accept{
    border: 2px solid #5B1B17;
    border-radius: 5px;
}
.input-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 108px;
}
.modal-input{
    box-sizing: border-box;
    position: absolute;
    width: 220px;
    height: 36px;
    background: #FFFFFF;
}

/* number input 화살표 제거 */
.match-id-input::-webkit-outer-spin-button,
.match-id-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.match-id-input[type=number] {
    -moz-appearance: textfield;
}

.cancelIcon {
    position: absolute;
    top: 25px;   
    right: 32px;
    width: 24px;
    height: 24px;
    background: url("../../assets/closeIcon.png") no-repeat center / contain;
    border: none;
    cursor: pointer;
}

.cancel, .accept{
    position: static;
    width: 108px;
    height: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
}
.cancel{
    background: #800000;
}
.accept{
    background: #228B22;
}
.modal-footer{
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
/* 모달은 미디어 쿼리 하지 맙시다.. */