.sound-bar {
  display: flex;
  align-items: center;
}

.sound-bar .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b3b3b3;
}

.sound-bar .slider {
  -webkit-appearance: none;
  width: 80px;
  height: 9px;
  margin-left: -12px;
  background: #b3b3b3;
  outline: none;
  box-shadow: inset 0px 4px 4px rgba(0,0,0,0.25);
}

.sound-bar .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 24px;
  background: #b3b3b3;
  cursor: pointer;
}

.sound-bar .slider::-moz-range-thumb {
  width: 6px;
  height: 24px;
  background: #b3b3b3;
  cursor: pointer;
}